

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab3">
      <!-- <ion-icon name="bicycle-outline"></ion-icon> -->
      <ion-icon name="walk"></ion-icon>
      <ion-label>Activity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="alarm"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="care">
      <ion-icon name="eye"></ion-icon>
      <ion-label>Care</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="group">
      <ion-icon name="people"></ion-icon>
      <ion-label>Group</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>


