.header-color{
    --background: #2c564a;
    color: white;
}
.personIcon{
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 5px;
}

.main_title_div{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.titleDiv{
    margin-left: 4%;
    width: 45%;
}

.titleSelect{
    padding-left: 0;
    padding-top: 0;
    font-size: 17px;
    padding-bottom: 0;
    // margin: 0;
}

.FilterDiv{
    float: right;
    font-size: 21px;
    margin-top: -39px;
}

// @media only screen and (max-width: 414px) {
//     .FilterDiv{
//         height: 100%;
//         margin-top: -12%;
//         padding-top: -54%;
//         float: right;
//         font-size: 21px;
//     }
//   }

//   @media only screen and (max-width: 600px) {
//     .FilterDiv{
//         height: 100%;
//         margin-top: -9%;
//         padding-top: -54%;
//         float: right;
//         font-size: 21px;
//     }
//   }

.thumbnailImg{
    // margin-top: -32%;
    border-radius: 50%;
    margin-left: -19%;
}

ion-col{
    padding-right: 0;
    padding-left: 0;
}
.patientAge{
    margin-top: -2%;
    font-size: 10px;
}
ion-card{
    margin-right: 1% !important;
    margin-left: 1% !important;
}
.ellipsisIcon{
    margin-top: -21%;
    float: right;
    font-size: 17px;
}
.smallGridIcon{
    font-size: 11px;
    margin-bottom: 7px;
    color: green;
    padding: 5px;
    border-radius: 50%;
    background-color: #e9ecec;
}
.smallGridsText{
    font-size: 9px;
    margin-left: 25px;
    margin-top: -27px;
    display: block;
}

.quizz-progress {
    ion-progress-bar {
    //    --background: green;
       --buffer-background: #bbb0b0;
    //    --buffer-background: red;
       --progress-background: #1fcae0;
     }
   }

   .smallGridsText2{
    font-size: 10px;
    display: block;
    margin-top: -38px;
    margin-left: 21px;

   }
   .smallGridIcon2{
    font-size: 13px;
    margin-bottom: 22px;
    color: #899596;
   }

   .totalkm{
    float: right;
    font-size: 10px;
   }

.oxygenImg_class{
    width: 35px;
    height: 35px;
    margin-top: 25%;
    margin-left: 6%;
}
