<ion-header [translucent]="true">
  <ion-toolbar class="header-color">

    <ion-title>
     <div>
      <div class="main_title_div">
        <img src="assets/imgs/person.png" alt="User" width="40px" height="40px" class="personIcon">
        <div class="titleDiv">
          <small style="font-size: 60% !important;color: #b8bbba;">Nurse</small>
          <ion-select placeholder="Select" mode="ios" class="titleSelect">
            <ion-select-option *ngFor="let user of users">{{user.first + ' ' + user.last}}</ion-select-option>
          </ion-select>
        </div>
      </div>

      <div class="FilterDiv">
        <ion-icon name="search-outline" class="FilterIcons"></ion-icon>
        &nbsp;
        <ion-icon name="funnel-outline" class="FilterIcons"></ion-icon>
      </div>
     </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background : #e9ecec">

  <ion-card class="ion-no-padding" style="margin-top: 4%;margin-bottom: 3%;">
    <ion-item>
      <ion-thumbnail slot="start" style="margin-right: 0%;margin-top: -100px;">
        <img src="./assets/imgs/person.png" class="thumbnailImg">
      </ion-thumbnail>
      <ion-label style="white-space: pre-line;">
        <ion-row style="font-size: 9px;" class="ion-no-padding">
          <ion-col size="8" style="letter-spacing: 0.7px;color: #a3a7a6;">
            05 SEP | ACCIDENT PATIENT
          </ion-col>
          <ion-col size="2">
            <ion-icon name="people-outline"></ion-icon> 6
          </ion-col>
          <ion-col size="2" style="color: black;font-weight: 500;">
            8:00 PM
          </ion-col>
        </ion-row>
        <div>
          <p style="font-weight: 500;">{{patient.name}}</p>
          <p class="patientAge">{{patient.age}}</p>
          <p style="font-size: 9px;letter-spacing: 0.9px !important;"> <span
              style="color: rgb(204 75 75);">CRITICAL</span> | <span style="color: #a3a7a6;">PATIENT SUMMARY</span></p>
        </div>
        <ion-icon name="ellipsis-vertical-outline" class="ellipsisIcon"></ion-icon>
        <p style="font-size: 12px;">{{patient.description}}
          <span *ngIf="!hide" style="font-size: 12px;">{{patient.hide_data}}</span>
        </p>
        <p *ngIf="hide" style="font-size: 12px;color: #a3a7a6;" (click)="hide = false">See more</p>
        <p *ngIf="!hide" style="font-size: 12px;color: #a3a7a6;" (click)="hide = true">Hide</p>

        <ion-row style="margin-bottom: -1px;">
          <ion-col size="4">
            <ion-icon name="nutrition" class="smallGridIcon"></ion-icon> <span class="smallGridsText">1F/GW-16</span>
          </ion-col>
          <ion-col size="4">
            <ion-icon name="heart-dislike-circle-outline" class="smallGridIcon"></ion-icon> <span
              class="smallGridsText">3 Devices</span>
          </ion-col>
          <ion-col size="4">
            <ion-icon name="hourglass-outline" class="smallGridIcon"></ion-icon> <span class="smallGridsText">{{patient.time}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-icon name="thermometer-outline" class="smallGridIcon"></ion-icon> <span
              class="smallGridsText">Temparature</span>
            <p style="margin-left: 25px; font-size: 12px;">
              <span style="font-weight: 500;">{{patient.temp}}</span>
              <span style="font-size : 9px;"> &#8451; </span>
            </p>
          </ion-col>
          <ion-col size="4">
            <ion-icon name="flask-outline" class="smallGridIcon"></ion-icon> <span class="smallGridsText">Oxygen</span>
            <p style="margin-left: 25px; font-size: 12px;">
              <span style="font-weight: 500;">{{patient.oxy}}% </span>
              <span style="font-size : 9px;">SpO2</span> </p>
          </ion-col>
          <ion-col size="4">
            <ion-icon name="heart" class="smallGridIcon"></ion-icon> <span class="smallGridsText">Heart rate</span>
            <p style="margin-left: 25px; font-size: 12px;">
              <span style="font-weight: 500;"> {{patient.heart_rate}} </span>
              <span style="font-size : 9px;">bpm</span> </p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card style="margin-bottom: -1%;">
    <ion-item>
      <ion-thumbnail slot="start" style="margin-right: 0px;">
        <img src="./assets/imgs/person2.jpg" style="margin-left: -4%;" class="oxygenImg_class">
      </ion-thumbnail>
      <ion-label>
        <ion-row style="margin-bottom: -13px;">
          <ion-col size="5">
            <span style="font-weight: 500;">{{steps}}</span> <span style="font-size: 12px;"> Steps</span>
          </ion-col>
          <ion-col size="5">
            <span  style="font-weight: 500; font-size: 13px;">372</span> <span style="font-size: 12px;"> Cal</span>
          </ion-col>
        </ion-row>
        <div class="quizz-progress ion-text-center">
          <span class="totalkm">12 Km</span>
          <ion-progress-bar value={{progress}}></ion-progress-bar>
        </div>
        <ion-row style="margin-top: 1%;">
          <ion-col size="5">
            <ion-icon name="hourglass-outline" class="smallGridIcon2"></ion-icon> 
            <span class="smallGridsText2" style="margin-top: -38px; margin-left: 17px;">6 hrs : 37 min</span>
          </ion-col>
          <ion-col size="3.5">
            <ion-icon name="barbell-outline" class="smallGridIcon2"></ion-icon>
            <span class="smallGridsText2" >{{kilometer}} Km</span>
          </ion-col>
          <ion-col size="3.5">
            <ion-icon name="timer-outline" class="smallGridIcon2"></ion-icon>
            <span class="smallGridsText2" >0.3 Km/hr</span>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card style="margin-bottom: -1%;">
    <ion-item>
      <ion-thumbnail slot="start" style="margin-right: 0px;">
        <img src="./assets/imgs/oxygen-tanks.svg" style="width: 26px; height: 26px;" class="oxygenImg_class">
      </ion-thumbnail>
      <ion-label>
        <ion-row>
          <ion-col size="8">
            <span style="font-weight: 600;"> 98% </span>
            <span style="font-size: 12px;"> SpO2</span>
          </ion-col>
        </ion-row>
        <div class="quizz-progress ion-text-center">
          <ion-progress-bar value = 0.5></ion-progress-bar>
        </div>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card style="margin-bottom: -1%;">
    <ion-item>
      <ion-thumbnail slot="start" style="margin-right: 0px;">
        <img src="./assets/imgs/heart.svg" style=" width: 34px; height: 34px;margin-left: 0px;" class="oxygenImg_class">
      </ion-thumbnail>
      <ion-label>
        <ion-row >
          <ion-col size="8" >
            <span style="font-weight: 600;">67</span>
            <span style="font-size: 12px;"> bpm</span>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start" style="margin-right: 0px;">
        <img src="./assets/imgs/thermometer.svg" style="width: 27px;height: 27px;" class="oxygenImg_class">
      </ion-thumbnail>
      <ion-label>
        <ion-row>
          <ion-col size="8">
            <span style="font-weight: 600;">37.7</span>
            <span style="font-size: 12px;"> &#8451;</span>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-card>

<br>
<br>

  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button style="--background: white;">
      <ion-icon name="add" style="color: green;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<br>
<br>

<ion-footer>

</ion-footer>